.card {
    max-width: 413px;
    position: relative;
}

.card__image {
    height: 413px;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    cursor: pointer;
}

.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.card__title {
    max-width: 350px;
    line-height: 1.2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #212121;
    margin: 0;
}

.card__delete-button {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 10px;
    background-image: url(../images/delete.svg);
    background-color: transparent;
    border: none;
}

.card__delete-button:hover {
    background-image: url(../images/delete-hover.svg);
}

.card__like-btn {
    background-image: url(../images/heart2.svg);
    width: 23px;
    height: 20px;
    border: none;
    opacity: 0.4;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.card__like-btn:hover {
    cursor: pointer;
    opacity: 100%;
}

.card__like-btn_active {
    background-image: url(../images/liked.svg);
    opacity: 100%;
}

.card__like-btn_active:hover {
    background-image: url(../images/Union.svg);
    opacity: 0.4;
}

@media screen and (max-width: 630px) {
    .card__image {
        height: 288px;
    }

    .card__title {
        max-width: 250px;
        font-size: 16px;
    }
}
