.modal {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s linear, opacity 0.3s ease;
    background-color: #00000080;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    padding: 10px;
}

.modal_type_preview {
    padding: 0 16px;
}

.modal_is-opened {
    visibility: visible;
    opacity: 1;
}

.modal__container {
    max-width: 730px;
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 32px 50px;
    position: relative;
}

.modal__close-btn {
    position: absolute;
    top: 32px;
    right: 50px;
    width: 40px;
    height: 40px;
    background-image: url(../images/close.svg);
    background-position: center;
    background-color: transparent;
    border: none;
    opacity: 0.4;
    cursor: pointer;
}

.modal__close-btn_type_preview {
    top: 0;
    right: -52.5px;
}

.modal__close-btn:hover {
    opacity: 1;
}

.modal__submit-btn {
    max-width: 156px;
    width: 100%;
    border-radius: 8px;
    padding: 18px 32px;
    background-color: #212121;
    color: #fcf5e5;
    font-size: 16px;
    cursor: pointer;
}

.modal__image-container {
    position: relative;
}

.modal__image {
    max-width: 80vw;
    max-height: 80vh;
    width: 100%;
    object-fit: contain;
    display: block;
    border-radius: 8px;
}

.modal__caption {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 120%;
    color: white;
}

.modal__title {
    margin: 0 0 32px;
    font-size: 32px;
    line-height: 1;
    font-weight: 500;
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__label {
    margin: 0 0 32px;
    color: rgba(33, 33, 33, 0.7);
}

.modal__input {
    display: block;
    margin: 8px 0 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(33, 33, 33, 0.4);
    border-radius: 8px;
    font-size: 20px;
    line-height: 1;
    padding: 16px 12px 16px;
    color: #212121;
}

.modal__input::placeholder {
    color: #2121214d;
}

@media screen and (max-width: 480px) {
    .modal__container {
        padding: 22px 12px 12px;
    }

    .modal__label {
        font-size: 20px;
    }

    .modal__title {
        font-size: 20px;
    }

    .modal__caption {
        font-size: 16px;
    }

    .modal__close-btn {
        top: 12px;
        right: 12px;
    }

    .modal__form {
        margin-top: 34px;
    }

    .modal__input {
        font-size: 16px;
    }

    .modal__submit-btn {
        max-width: none;
    }
}

@media screen and (max-width: 630px) {
    /* Placed below the 480px media query to avoid being overwritten. */
    .modal__close-btn_type_preview {
        top: -48px;
        right: 0;
    }

    .modal__image {
        max-width: unset;
    }
}
